.header {
  align-items: center;
  display: flex;
  font-size: 0.7rem;
  height: 60px;
  padding-left: 1%;
  position: fixed;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.header__burger {
  cursor: pointer;
}

.header__burger:hover {
  background-color: azure;
}

.material-icons {
  font-size: 40px;
}

.header__brand {
  display: flex;
  align-items: baseline;
}

.header__logo {
  height: 30px;
}

.header__title {
  color: rgb(0, 0, 0);
}

.header__ingresar {
  display: none;
}

.header__navbar {
  position: absolute;
  top: 101%;
  left: 2%;
  z-index: 2;
}

@media (min-width: 960px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
  }

  .header__burger {
    display: none;
  }

  .header__navbar_container {
    display: flex;
    align-items: center;
  }

  .header__ingresar {
    display: flex;
    max-height: fit-content;
    align-items: center;
  }

  .header__navbar {
    position: absolute;
    border-radius: 16px;
    min-width: 30%;
    top: 101%;
    right: 4%;
    left: auto;
    background-color: blue;
  }
}
